{% extends _layout %}
{% block content %}

    <div class="page-title">
        <div class="title-env">
            <h1 class="title">{{ lang('menu_' ~ that._table) }}</h1>
            <p class="description"></p>
        </div>
        <div class="breadcrumb-env"></div>
    </div>

    <!-- Admin Table-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ lang('menu_' ~ that._table) }}</h3>
        </div>
        <div class="panel-body">
            {% if (validation_errors()) %}
            <div class="alert alert-danger">
                {{ validation_errors() }}
            </div>
            {% endif %}
            <form role="form" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">

                
                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="device_order_id">{{ lang('device_orders_device_order_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('device_order_id', set_value('device_order_id', item.device_order_id), 'class="form-control" id="device_order_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="serial">{{ lang('device_orders_serial') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('serial', set_value('serial', item.serial), 'class="form-control" id="serial"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="barcode">{{ lang('device_orders_barcode') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('barcode', set_value('barcode', item.barcode), 'class="form-control" id="barcode"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="mobile">{{ lang('device_orders_mobile') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('mobile', set_value('mobile', item.mobile), 'class="form-control" id="mobile"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="social_id">{{ lang('device_orders_social_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('social_id', set_value('social_id', item.social_id), 'class="form-control" id="social_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="invoice_id">{{ lang('device_orders_invoice_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('invoice_id', set_value('invoice_id', item.invoice_id), 'class="form-control" id="invoice_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="client_id">{{ lang('device_orders_client_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('client_id', set_value('client_id', item.client_id), 'class="form-control" id="client_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="branch_id">{{ lang('device_orders_branch_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('branch_id', set_value('branch_id', item.branch_id), 'class="form-control" id="branch_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="status">{{ lang('device_orders_status') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('status', set_value('status', item.status), 'class="form-control" id="status"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="timestamp">{{ lang('device_orders_timestamp') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('timestamp', set_value('timestamp', item.timestamp), 'class="form-control" id="timestamp"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-secondary " name="submit" value="{{ lang('global_submit') }}">
                        <a href="{{ admin_url(that._table ~ '/index') }} "
                           class="btn btn-danger">{{ lang('global_cancel') }}</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}