{% extends _layout %}
{% block content %}

    <div class="page-title">
        <div class="title-env">
            <h1 class="title">{{ lang('menu_' ~ that._table) }}</h1>

            <p class="description"></p>
        </div>
        <div class="breadcrumb-env"></div>
    </div>

    <!-- Admin Table-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ lang('menu_' ~ that._table) }}</h3>
        </div>
        <div class="panel-body">
            {% if (validation_errors()) %}
                <div class="alert alert-danger">
                    {{ validation_errors() }}
                </div>
            {% endif %}
            <form role="form" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="fee_id">{{ lang('fees_fee_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('fee_id', set_value('fee_id', item.fee_id), 'class="form-control" id="fee_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="branch_id">{{ lang('fees_branch_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('branch_id', set_value('branch_id', item.branch_id), 'class="form-control" id="branch_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="fee_type_id">{{ lang('fees_fee_type_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('fee_type_id', set_value('fee_type_id', item.fee_type_id), 'class="form-control" id="fee_type_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="amount">{{ lang('fees_amount') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('amount', set_value('amount', item.amount), 'class="form-control" id="amount"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="month">{{ lang('fees_month') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('month', set_value('month', item.month), 'class="form-control" id="month"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="year">{{ lang('fees_year') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('year', set_value('year', item.year), 'class="form-control" id="year"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="timestamp">{{ lang('fees_timestamp') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('timestamp', set_value('timestamp', item.timestamp), 'class="form-control" id="timestamp"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-secondary " name="submit"
                               value="{{ lang('global_submit') }}">
                        <a href="{{ admin_url(that._table ~ '/index') }} "
                           class="btn btn-danger">{{ lang('global_cancel') }}</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}