{% extends _layout %}
{% block content %}
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">{{ lang('menu_' ~ that._table) }}</h1>

            <p class="description"></p>
        </div>
        <div class="breadcrumb-env">

            <a href="{{ admin_url(that._table ~ '/step2') }}"
               class="btn btn-danger">{{ lang('format_orders_archive') }}</a>
        </div>
    </div>

    <!-- Admin Table-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ lang('menu_' ~ that._table) }}</h3>

        </div>
        <div class="panel-body">
            {% if (validation_errors()) %}
                <div class="alert alert-danger">
                    {{ validation_errors() }}
                </div>
            {% endif %}
            <form role="form" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">


                <div class="form-group">
                    <label class="col-sm-1 control-label" for="save_data">{{ lang('format_orders_save_data') }}</label>

                    <div class="col-sm-3">
                        {{ form_dropdown('save_data', ddboolean(), set_value('save_data', item.save_data), 'class="form-control" id="save_data"') }}
                    </div>

                    <label class="col-sm-1 control-label"
                           for="original_software">{{ lang('format_orders_original_software') }}</label>

                    <div class="col-sm-3">
                        {{ form_dropdown('original_software', ddboolean(), set_value('original_software', item.original_software), 'class="form-control" id="original_software"') }}
                    </div>

                    <label class="col-sm-1 control-label" for="client_id">{{ lang('format_orders_client_id') }}</label>

                    <div class="col-sm-3">
                        {{ form_dropdown('client_id', clients, set_value('client_id', item.client_id), 'class="form-control" id="client_id"') }}
                    </div>

                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">

                    <label class="col-sm-1 control-label" for="mobile">{{ lang('format_orders_mobile') }}</label>

                    <div class="col-sm-5">
                        {{ form_input('mobile', set_value('mobile', item.mobile), 'class="form-control" id="mobile"') }}
                    </div>

                    <label class="col-sm-1 control-label" for="password">{{ lang('format_orders_password') }}</label>

                    <div class="col-sm-5">
                        {{ form_input('password', set_value('password', item.password), 'class="form-control" id="password"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>

                <div class="form-group">
                    <label class="col-sm-1 control-label" for="notes">{{ lang('format_orders_notes') }}</label>

                    <div class="col-sm-11">
                        {{ form_textarea('notes', set_value('notes', item.notes), 'class="form-control" id="notes"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">

                    <label class="col-sm-1 control-label" for="mobile">{{ lang('orders_total_price') }}</label>

                    <div class="col-sm-3">
                        {{ form_input('orders_total_price', config('format_price'), 'class="form-control" id="orders_total_price" disabled="disabled" tabindex="1"') }}
                    </div>

                    <label class="col-sm-1 control-label" for="password">{{ lang('orders_paid') }}</label>

                    <div class="col-sm-3">
                        {{ form_input('paid', set_value('paid'), 'class="form-control" id="paid" tabindex="1" onchange="cart.updateRest(this)" onkeypress="cart.paidKeyPress()" autocomplete="off"') }}
                    </div>

                    <label class="col-sm-1 control-label" for="password">{{ lang('orders_rest') }}</label>

                    <div class="col-sm-3">
                        {{ form_input('rest', null, 'class="form-control" id="rest" disabled="disabled" tabindex="1"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>

                <div class="form-group">
                    <label class="col-sm-10 control-label"></label>

                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-secondary" name="submit"
                               value="{{ lang('global_submit') }}">
                        <a href="{{ admin_url(that._table ~ '/index') }}"
                           class="btn btn-danger">{{ lang('global_cancel') }}</a>
                    </div>
                </div>

            </form>

        </div>
    </div>


    <script>

        $('#paid').change(function () {
            $('#rest').val($('#paid').val() - $('#orders_total_price').val());
        });


    </script>
{% endblock %}