{% extends _layout %}
{% block content %}

    <div class="page-title">
        <div class="title-env">
            <h1 class="title">{{ lang('menu_' ~ that._table) }}</h1>

            <p class="description"></p>
        </div>
        <div class="breadcrumb-env"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading hidden-print">
            {{ lang('menu_' ~ that._table) }}
        </div>
        <div class="panel-body">

            <section class="invoice-env">

                <!-- Invoice header -->
                <div class="invoice-header">

                    <!-- Invoice Options Buttons -->
                    <div class="invoice-options hidden-print">
                        {#<a href="#" class="btn btn-block btn-gray btn-icon btn-icon-standalone btn-icon-standalone-right text-left">#}
                        {#<i class="fa-envelope-o"></i>#}
                        {#<span>Send</span>#}
                        {#</a>#}

                        <a href="javascript:print()"
                           class="btn btn-block btn-secondary btn-icon btn-icon-standalone btn-icon-standalone-right btn-single text-left">
                            <i class="fa-print"></i>
                            <span>{{ lang('global_print') }}</span>
                        </a>
                    </div>

                    <!-- Invoice Data Header -->
                    <div class="invoice-logo">

                        <a href="#" class="logo">
                            <img src="{{ constant('STYLE_IMAGES') }}/logo-white-bg.png" class="img-responsive"/>
                        </a>

                        <ul class="list-unstyled">
                            <li class="upper">{{ lang('invoices_invoice_id') }} <strong>#{{ item.code }}</strong></li>
                            <li>{{ item.date }}</li>
                            <li>{{ lang('invoices_user_id') }} <strong>{{ item.user }}</strong></li>
                            <li>{{ lang('invoices_created_at') }} <strong>{{ item.created_at }}</strong></li>

                            {#<li>Prishtin&euml;, Kosovo</li>#}
                        </ul>

                    </div>

                </div>


                <!-- Client and Payment Details -->
                <div class="invoice-details">

                    <div class="invoice-client-info">
                        <strong>{{ lang('invoices_client_id') }} {{ item.client }}</strong>

                        {#<ul class="list-unstyled">#}
                        {#<li> </li>#}
                        {#<li>Mr Nilson Otto </li>#}
                        {#<li>FoodMaster Ltd</li>#}
                        {#</ul>#}

                        {#<ul class="list-unstyled">#}
                        {#<li>1982 OOP </li>#}
                        {#<li>Madrid, Spain </li>#}
                        {#<li>+1 (151) 225-4183</li>#}
                        {#</ul>#}
                    </div>

                    <div class="invoice-payment-info">
                        <strong>{{ lang('orders_transactions') }}</strong>

                        <ul class="list-unstyled">
                            {% for offline_transaction in offline_transactions %}
                                <li>{{ offline_transaction.number }}<strong>{{ offline_transaction.status }}</strong>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


                <!-- Invoice Entries -->
                <table class="table table-bordered">
                    <thead>
                    <tr class="no-borders">
                        <th class="text-center hidden-xs"><input type="checkbox" class="select_all"/></th>
                        <th class="text-center hidden-xs">#</th>
                        <th width="60%" class="text-center">{{ lang('orders_product') }}</th>
                        <th class="text-center">{{ lang('orders_qty') }}</th>
                        <th class="text-center">{{ lang('invoices_price') }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% set i=1 %}
                    {% for product in order %}
                        <tr>
                            <td class="text-center hidden-xs"><input type="checkbox" class="products"/></td>
                            <td class="text-center hidden-xs">{{ ++i }}</td>
                            <td>{{ product.product }}</td>
                            <td class="text-center">{{ product.qty }}</td>
                            <td class="text-right text-primary text-bold">{{ product.qty * product.price }}</td>
                        </tr>
                    {% endfor %}

                    {% if device %}
                        <tr>
                            <td class="text-center hidden-xs"><input type="checkbox" class="products"/></td>
                            <td class="text-center hidden-xs">{{ ++i }}</td>
                            <td>{{ device.product }}</td>
                            <td class="text-center">1</td>
                            <td class="text-right text-primary text-bold">{{ device.price - device.discount }}</td>
                        </tr>
                    {% endif %}

                    {% if service %}
                        <tr>
                            <td class="text-center hidden-xs"><input type="checkbox" class="products"/></td>
                            <td class="text-center hidden-xs">{{ ++i }}</td>
                            <td>{{ service.product }}</td>
                            <td class="text-center">1</td>
                            <td class="text-right text-primary text-bold">{{ service.price - service.discount }}</td>
                        </tr>
                    {% endif %}

                    {% if maintenance %}
                        <tr>
                            <td class="text-center hidden-xs"><input type="checkbox" class="products"/></td>
                            <td class="text-center hidden-xs">{{ ++i }}</td>
                            <td>{{ lang('invoice_maintenance') }}</td>
                            <td class="text-center">1</td>
                            <td class="text-right text-primary text-bold">{{ maintenance.format_price }}</td>
                        </tr>
                    {% endif %}
                    {% for pc in prepaid_card %}
                        <tr>
                            <td class="text-center hidden-xs">x</td>
                            <td class="text-center hidden-xs">{{ ++i }}</td>
                            <td>Number: {{ pc.number }} <br />Serial: {{ pc.serial }}</td>
                            <td class="text-center">1</td>
                            <td class="text-right text-primary text-bold">-</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!-- Invoice Subtotals and Totals -->
                <div class="invoice-totals">

                    <div class="invoice-subtotals-totals">
								<span>{{ lang('invoices_due') }}:
									<strong>{{ item.due }}</strong>
								</span>

								<span>{{ lang('invoices_paid') }}:
									<strong>{{ item.paid }}</strong>
								</span>

                        <hr/>
								<span>{{ lang('invoices_rest') }}:
									<strong>{{ item.paid - item.due }}</strong>
								</span>
                    </div>

                    {#<div class="invoice-bill-info">#}
                    {#<address>#}
                    {#795 Park Ave, Suite 120<br/>#}
                    {#San Francisco, CA 94107<br/>#}
                    {#P: (234) 145-1810 <br/>#}
                    {#Full Name <br/>#}
                    {#<a href="#">first.last@email.com</a>#}
                    {#</address>#}
                    {#</div>#}

                </div>

            </section>

        </div>
    </div>
















    {#{{ lang('invoices_branch_id') }}#}
    {#{{ item.branch }}#}
    {#{{ lang('invoices_invoice_status_id') }}#}
    {#{{ item.status }}#}



{% endblock %}