{% extends _layout %}
{% block content %}

    <div class="page-title">
        <div class="title-env">
            <h1 class="title">{{ lang('menu_' ~ that._table) }}</h1>

            <p class="description"></p>
        </div>
        <div class="breadcrumb-env"></div>
    </div>

    <!-- Admin Table-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ lang('menu_' ~ that._table) }}</h3>
        </div>
        <div class="panel-body">
            {% if (validation_errors()) %}
                <div class="alert alert-danger">
                    {{ validation_errors() }}
                </div>
            {% endif %}
            <form role="form" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">


                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="pending_order_id">{{ lang('pending_orders_pending_order_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('pending_order_id', set_value('pending_order_id', item.pending_order_id), 'class="form-control" id="pending_order_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">{{ lang('pending_orders_name') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('name', set_value('name', item.name), 'class="form-control" id="name"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="user_id">{{ lang('pending_orders_user_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('user_id', set_value('user_id', item.user_id), 'class="form-control" id="user_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="client_id">{{ lang('pending_orders_client_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('client_id', set_value('client_id', item.client_id), 'class="form-control" id="client_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="branch_id">{{ lang('pending_orders_branch_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('branch_id', set_value('branch_id', item.branch_id), 'class="form-control" id="branch_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="timestamp">{{ lang('pending_orders_timestamp') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('timestamp', set_value('timestamp', item.timestamp), 'class="form-control" id="timestamp"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="mysql_timestamp">{{ lang('pending_orders_mysql_timestamp') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('mysql_timestamp', set_value('mysql_timestamp', item.mysql_timestamp), 'class="form-control" id="mysql_timestamp"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-10 control-label"></label>

                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-secondary " name="submit"
                               value="{{ lang('global_submit') }}">
                        <a href="{{ admin_url(that._table ~ '/index') }} "
                           class="btn btn-danger">{{ lang('global_cancel') }}</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}