{% extends _layout %}
{% block content %}

    <div class="page-title">
        <div class="title-env">
            <h1 class="title">{{ lang('menu_' ~ that._table) }}</h1>

            <p class="description"></p>
        </div>
        <div class="breadcrumb-env"></div>
    </div>

    <!-- Admin Table-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ lang('menu_' ~ that._table) }}</h3>
        </div>
        <div class="panel-body">
            {% if (validation_errors()) %}
                <div class="alert alert-danger">
                    {{ validation_errors() }}
                </div>
            {% endif %}
            <form role="form" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">


                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="prepaid_card_order_id">{{ lang('prepaid_card_orders_prepaid_card_order_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('prepaid_card_order_id', set_value('prepaid_card_order_id', item.prepaid_card_order_id), 'class="form-control" id="prepaid_card_order_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="card_type_id">{{ lang('prepaid_card_orders_card_type_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('card_type_id', set_value('card_type_id', item.card_type_id), 'class="form-control" id="card_type_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="prepaid_card_id">{{ lang('prepaid_card_orders_prepaid_card_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('prepaid_card_id', set_value('prepaid_card_id', item.prepaid_card_id), 'class="form-control" id="prepaid_card_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="total_cards">{{ lang('prepaid_card_orders_total_cards') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('total_cards', set_value('total_cards', item.total_cards), 'class="form-control" id="total_cards"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="date">{{ lang('prepaid_card_orders_date') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('date', set_value('date', item.date), 'class="form-control" id="date"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="invoice_id">{{ lang('prepaid_card_orders_invoice_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('invoice_id', set_value('invoice_id', item.invoice_id), 'class="form-control" id="invoice_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-secondary " name="submit"
                               value="{{ lang('global_submit') }}">
                        <a href="{{ admin_url(that._table ~ '/index') }} "
                           class="btn btn-danger">{{ lang('global_cancel') }}</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}