{% extends _layout %}
{% block content %}

    <div class="page-title">
        <div class="title-env">
            <h1 class="title">{{ lang('menu_' ~ that._table) }}</h1>
            <p class="description"></p>
        </div>
        <div class="breadcrumb-env"></div>
    </div>

    <!-- Admin Table-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ lang('menu_' ~ that._table) }}</h3>
        </div>
        <div class="panel-body">
            {% if (validation_errors()) %}
            <div class="alert alert-danger">
                {{ validation_errors() }}
            </div>
            {% endif %}
            <form role="form" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">

                
                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="prepaid_card_id">{{ lang('prepaid_cards_prepaid_card_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('prepaid_card_id', set_value('prepaid_card_id', item.prepaid_card_id), 'class="form-control" id="prepaid_card_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="prepaid_card_type_id">{{ lang('prepaid_cards_prepaid_card_type_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('prepaid_card_type_id', set_value('prepaid_card_type_id', item.prepaid_card_type_id), 'class="form-control" id="prepaid_card_type_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="number">{{ lang('prepaid_cards_number') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('number', set_value('number', item.number), 'class="form-control" id="number"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="serial">{{ lang('prepaid_cards_serial') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('serial', set_value('serial', item.serial), 'class="form-control" id="serial"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="expire_date">{{ lang('prepaid_cards_expire_date') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('expire_date', set_value('expire_date', item.expire_date), 'class="form-control" id="expire_date"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="created_at">{{ lang('prepaid_cards_created_at') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('created_at', set_value('created_at', item.created_at), 'class="form-control" id="created_at"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="prepaid_card_order_id">{{ lang('prepaid_cards_prepaid_card_order_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('prepaid_card_order_id', set_value('prepaid_card_order_id', item.prepaid_card_order_id), 'class="form-control" id="prepaid_card_order_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>
                

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-secondary " name="submit" value="{{ lang('global_submit') }}">
                        <a href="{{ admin_url(that._table ~ '/index') }} "
                           class="btn btn-danger">{{ lang('global_cancel') }}</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}