<div class="form-group">
    <label class="col-sm-2 control-label" for="invoice_id">{{ lang('prepaid_card_orders_invoice_id') }}</label>

    <div class="col-sm-9">
        {{ item.code }}
    </div>

</div>
<div class="form-group-separator"></div>
<div style="clear: both"></div>
<div class="form-group">

    <label class="col-sm-2 control-label" for="serial">{{ lang('prepaid_cards_serial') }}</label>

    <div class="col-sm-9">
        {{ item.serial }}
    </div>

</div>
<div class="form-group-separator"></div>
<div style="clear: both"></div>
<div class="form-group">

    <label class="col-sm-2 control-label" for="serial">{{ lang('invoices_created_at') }}</label>

    <div class="col-sm-9">
        {{ item.date }}
    </div>

</div>
<div class="form-group-separator"></div>
<div style="clear: both"></div>
