{% extends _layout %}
{% block content %}

    <div class="page-title">
        <div class="title-env">
            <h1 class="title">{{ lang('menu_' ~ that._table) }}</h1>

            <p class="description"></p>
        </div>
        <div class="breadcrumb-env"></div>
    </div>

    <!-- Admin Table-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ lang('menu_' ~ that._table) }}</h3>
        </div>
        <div class="panel-body">
            {% if (validation_errors()) %}
                <div class="alert alert-danger">
                    {{ validation_errors() }}
                </div>
            {% endif %}
            <form role="form" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">


                <div class="form-group">
                    <label class="col-sm-1 control-label" for="barcode">{{ lang('products_barcode') }}</label>

                    <div class="col-sm-3">
                        {{ form_input('barcode', set_value('barcode', item.barcode), 'class="form-control" id="barcode"') }}
                    </div>
                    <div class="col-sm-1">
                        <div class="barcode">
                            {% if item.barcode %}
                                <img src="{{ admin_url('devices/barcode/' ~ item.barcode) }}" />
                            {% endif %}
                        </div>
                    </div>

                    <label class="col-sm-2 control-label" for="points">{{ lang('products_points') }}</label>

                    <div class="col-sm-5">
                        {{ form_input('points', set_value('points', item.points), 'class="form-control" id="points"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>




                <div class="form-group">
                    <label class="col-sm-1 control-label" for="name_ar">{{ lang('products_name_ar') }}</label>

                    <div class="col-sm-5">
                        {{ form_input('name_ar', set_value('name_ar', item.name_ar), 'class="form-control" id="name_ar"') }}
                    </div>

                    <label class="col-sm-1 control-label" for="name_en">{{ lang('products_name_en') }}</label>

                    <div class="col-sm-5">
                        {{ form_input('name_en', set_value('name_en', item.name_en), 'class="form-control" id="name_en"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-1 control-label" for="category_id">{{ lang('products_category_id') }}</label>

                    <div class="col-sm-3">
                        {{ form_dropdown('category_id', categories, set_value('category_id', item.category_id), 'class="form-control" id="category_id"') }}
                    </div>

                    <label class="col-sm-1 control-label" for="mark_id">{{ lang('products_mark_id') }}</label>

                    <div class="col-sm-3">
                        {{ form_dropdown('mark_id', marks, set_value('mark_id', item.mark_id), 'class="form-control" id="mark_id"') }}
                    </div>


                    <label class="col-sm-1 control-label" for="featured">{{ lang('products_featured') }}</label>

                    <div class="col-sm-3">
                        {{ form_dropdown('featured', ddboolean(), set_value('featured', item.featured), 'class="form-control" id="featured"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">

                    <label class="col-sm-1 control-label" for="cost">{{ lang('products_cost') }}</label>

                    <div class="col-sm-2">
                        {{ form_input('cost', set_value('cost', item.cost), 'class="form-control" id="cost"') }}
                    </div>

                    <label class="col-sm-1 control-label" for="profit">{{ lang('products_profit') }}</label>

                    <div class="col-sm-2">
                        {{ form_input('profit', set_value('profit', item.profit), 'class="form-control" id="profit"') }}
                    </div>

                    <label class="col-sm-1 control-label" for="commission">{{ lang('products_commission') }}</label>

                    <div class="col-sm-2">
                        {{ form_input('commission', set_value('commission', item.commission), 'class="form-control" id="commission"') }}
                    </div>


                    <label class="col-sm-1 control-label" for="discount">{{ lang('products_discount') }}</label>

                    <div class="col-sm-2">
                        {{ form_input('discount', set_value('discount', item.discount), 'class="form-control" id="discount"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>





                <div class="form-group">
                    <label class="col-sm-1 control-label" for="amount">{{ lang('products_amount') }}</label>

                    <div class="col-sm-3">
                        {{ form_input('amount', set_value('amount', item.amount), 'class="form-control" id="amount"') }}
                    </div>


                    <label class="col-sm-1 control-label" for="image">{{ lang('products_image') }}</label>

                    <div class="col-sm-3">
                        {{ form_upload('image',null, 'class="form-control" id="image"') }}
                    </div>

                    <div class="col-sm-1">
                        {% if item.image %}
                            <div class="user-image hidden-xs hidden-sm">
                                <img src="{{ that.cdn.image('products', item.image) }}" class="img-circle" alt="">
                            </div>
                        {% endif %}
                    </div>

                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-1 control-label" for="desc_en">{{ lang('products_desc_en') }}</label>

                    <div class="col-sm-5">
                        {{ form_textarea('desc_en', set_value('desc_en', item.desc_en), 'class="form-control" id="desc_en"') }}
                    </div>

                    <label class="col-sm-1 control-label" for="desc_ar">{{ lang('products_desc_ar') }}</label>

                    <div class="col-sm-5">
                        {{ form_textarea('desc_ar', set_value('desc_ar', item.desc_ar), 'class="form-control" id="desc_ar"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-10 control-label"></label>

                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-secondary " name="submit"
                               value="{{ lang('global_submit') }}">
                        <a href="{{ admin_url(that._table ~ '/index') }} "
                           class="btn btn-danger">{{ lang('global_cancel') }}</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <script>
        $('#barcode').attr('type', 'number');
        $('#barcode').on('change', function(){
            $('.barcode').fadeOut('slow', function(){
                $('.barcode').html('<img src="{{ admin_url('devices/barcode') }}/' + $('#barcode').val() + '" />') ;
                $('.barcode').fadeIn('slow');

            });
        });
    </script>
{% endblock %}