{% extends _layout %}
{% block content %}

    <div class="page-title">
        <div class="title-env">
            <h1 class="title">{{ lang('menu_' ~ that._table) }}</h1>

            <p class="description"></p>
        </div>
        <div class="breadcrumb-env"></div>
    </div>

    <!-- Admin Table-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ lang('menu_' ~ that._table) }}</h3>
        </div>
        <div class="panel-body">
            {% if (validation_errors()) %}
                <div class="alert alert-danger">
                    {{ validation_errors() }}
                </div>
            {% endif %}
            <form role="form" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">


                <div class="form-group">
                    <label class="col-sm-1 control-label" for="barcode">{{ lang('services_barcode') }}</label>

                    <div class="col-sm-4">
                        {{ form_input('barcode', set_value('barcode', item.barcode), 'class="form-control" id="barcode"') }}
                    </div>

                    <div class="col-sm-2">
                        <div class="barcode">
                            {% if item.barcode %}
                                <img src="{{ admin_url('devices/barcode/' ~ item.barcode) }}"/>
                            {% endif %}
                        </div>
                    </div>


                    <label class="col-sm-1 control-label" for="points">{{ lang('services_points') }}</label>

                    <div class="col-sm-4">
                        {{ form_input('points', set_value('points', item.points), 'class="form-control" id="points"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-1 control-label" for="sim_type_id">{{ lang('services_sim_type_id') }}</label>

                    <div class="col-sm-5">
                        {{ form_input('sim_type_id', set_value('sim_type_id', item.sim_type_id), 'class="form-control" id="sim_type_id"') }}
                    </div>

                    <label class="col-sm-1 control-label"
                           for="service_provider_id">{{ lang('services_service_provider_id') }}</label>

                    <div class="col-sm-5">
                        {{ form_input('service_provider_id', set_value('service_provider_id', item.service_provider_id), 'class="form-control" id="service_provider_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-1 control-label" for="register">{{ lang('services_register') }}</label>

                    <div class="col-sm-3">
                        {{ form_dropdown('register', ddboolean(), set_value('register', item.register), 'class="form-control" id="register"') }}
                    </div>

                    <label class="col-sm-1 control-label"
                           for="register_code">{{ lang('services_register_code') }}</label>

                    <div class="col-sm-3">
                        {{ form_input('register_code', set_value('register_code', item.register_code), 'class="form-control" id="register_code"') }}
                    </div>


                    <label class="col-sm-1 control-label" for="required">{{ lang('services_required') }}</label>

                    <div class="col-sm-3">
                        {{ form_dropdown('required', ddboolean(), set_value('required', item.required), 'class="form-control" id="required"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-1 control-label" for="commision">{{ lang('services_commision') }}</label>

                    <div class="col-sm-2">
                        {{ form_input('commision', set_value('commision', item.commision), 'class="form-control" id="commision"') }}
                    </div>


                    <label class="col-sm-1 control-label" for="price">{{ lang('services_price') }}</label>

                    <div class="col-sm-2">
                        {{ form_input('price', set_value('price', item.price), 'class="form-control" id="price"') }}
                    </div>


                    <label class="col-sm-1 control-label" for="cost">{{ lang('services_cost') }}</label>

                    <div class="col-sm-2">
                        {{ form_input('cost', set_value('cost', item.cost), 'class="form-control" id="cost"') }}
                    </div>


                    <label class="col-sm-1 control-label" for="discount">{{ lang('services_discount') }}</label>

                    <div class="col-sm-2">
                        {{ form_input('discount', set_value('discount', item.discount), 'class="form-control" id="discount"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-1 control-label" for="desc">{{ lang('services_desc') }}</label>

                    <div class="col-sm-11">
                        {{ form_textarea('desc', set_value('desc', item.desc), 'class="form-control" id="desc"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-10 control-label"></label>

                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-secondary " name="submit"
                               value="{{ lang('global_submit') }}">
                        <a href="{{ admin_url(that._table ~ '/index') }} "
                           class="btn btn-danger">{{ lang('global_cancel') }}</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <script>
        $('#barcode').attr('type', 'number');
        $('#barcode').on('change', function () {
            $('.barcode').fadeOut('slow', function () {
                $('.barcode').html('<img src="{{ admin_url('devices/barcode') }}/' + $('#barcode').val() + '" />');
                $('.barcode').fadeIn('slow');

            });
        });
    </script>
{% endblock %}