{% extends _layout %}
{% block content %}

    <div class="page-title">
        <div class="title-env">
            <h1 class="title">{{ lang('menu_' ~ that._table) }}</h1>

            <p class="description"></p>
        </div>
        <div class="breadcrumb-env"></div>
    </div>

    <!-- Admin Table-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ lang('menu_' ~ that._table) }}</h3>
        </div>
        <div class="panel-body">
            {% if (validation_errors()) %}
                <div class="alert alert-danger">
                    {{ validation_errors() }}
                </div>
            {% endif %}
            <form role="form" class="form-horizontal" role="form" method="post" enctype="multipart/form-data">


                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="service_provider_id">{{ lang('service_providers_service_provider_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('service_provider_id', set_value('service_provider_id', item.service_provider_id), 'class="form-control" id="service_provider_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name_ar">{{ lang('service_providers_name_ar') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('name_ar', set_value('name_ar', item.name_ar), 'class="form-control" id="name_ar"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name_en">{{ lang('service_providers_name_en') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('name_en', set_value('name_en', item.name_en), 'class="form-control" id="name_en"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label" for="logo">{{ lang('service_providers_logo') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('logo', set_value('logo', item.logo), 'class="form-control" id="logo"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"
                           for="country_id">{{ lang('service_providers_country_id') }}</label>

                    <div class="col-sm-10">
                        {{ form_input('country_id', set_value('country_id', item.country_id), 'class="form-control" id="country_id"') }}
                    </div>
                </div>
                <div class="form-group-separator"></div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>

                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-secondary " name="submit"
                               value="{{ lang('global_submit') }}">
                        <a href="{{ admin_url(that._table ~ '/index') }} "
                           class="btn btn-danger">{{ lang('global_cancel') }}</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}